<body>

  <ngb-carousel>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <img style="width: 100vw; height: 610px;" src="../assets/2.jpg" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h1 id="p1" style="color: black; font-weight: bold;">
                Inspiring leadership innovation.
            </h1>
            <p style="font-size: 1.2em; text-shadow: 2px 2px 3px orange, -2px -2px 3px white, 2px -2px 3px red;">
                Employee Management System
            </p>
        </div>
        
      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <img style="width: 100vw; height: 610px;" src="../assets/1.jpg" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3 id="p1" style="color: black;">About Our Organization</h3>
            <p style="color: burgundy; font-weight: bold; text-shadow: 2px 2px 3px orange, -2px -2px 3px white, 2px -2px 3px red;">
              We are a leading software development company committed to providing innovative solutions that help businesses streamline their operations and achieve their goals.
            </p>
            
            
          
          </div>
          
      </ng-template>
  </ngb-carousel>
  
  <!-- Skills -->
  <section id="skills" class="section-2 odd highlights image-right counter skills featured">
      <br><br>
      <div class="divMain container">
          <div class="container c1 text">
              <h1 class="text">Techknowlogy Stack Used:</h1>
              <br>
              <ul class="category" id="t1">
                  <li>Backend Techknowlogy
                      <ul class="subcategory">
                          <li>Java</li>
                          <li>Spring Boot</li>
                      </ul>
                  </li>
                  <li>Frontend Techknowlogy
                      <ul class="subcategory">
                          <li>Angular</li>
                      </ul>
                  </li>
                  <li>Database Techknowlogy
                      <ul class="subcategory">
                          <li>MySQL</li>
                      </ul>
                  </li>
              </ul>
          </div>
          <div class="image">
              <img src="../assets/about-5.webp" class="fit-image" alt="Fit Image">
          </div>
      </div>
      <br><br>
  </section>
  
  <section class="about">
      <br><br>
      <div class="container">
          <div class="about-section">
              <h1>About Us Page</h1>
              <br>
              <p>Effectively and systematically manage and document the pertinent details and information of your employees to ensure a thorough and accurate record-keeping system within your organizational framework.</p>
          </div>
      </div>
      <br><br><br><br><br>
  </section>
  
  </body>
  